@use './../../common/variables' as var;
@use './../../common/mixins' as *;


.modal-contacts {
  &__close-btn {
    color: #EC6F5D;
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    background: -webkit-linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  &__subtitle {
    color: #B3B3BA;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  label {
    color: #B3B3BA;
  }

}